<div class="tarea-form">
  <!-- Campo de entrada para escribir la nueva tarea -->
  <input
    [(ngModel)]="nuevaDescripcion"
    placeholder="Escribe una tarea"
    maxlength="100"
    class="tarea-input"
  />

  <!-- Botón para agregar la nueva tarea -->
  <button class="bt-crear" (click)="agregarTarea()">Agregar</button>
</div>

<!-- Notificación futurista -->
<div class="toast-container" *ngIf="mensaje">
  <div class="toast" [ngClass]="tipoMensaje">
    {{ mensaje }}
  </div>
</div>

<!-- Lista de tareas -->
<ul class="tarea-list">
  <li *ngFor="let tarea of tareas; let i = index" class="tarea-item">
    {{ tarea.descripcion | capitalizar }}

    <button class="bt-toggle" (click)="toggleCompletion(i)">
      {{ tarea.completada ? 'Desmarcar' : 'Completada' }}
    </button>

    <button class="bt-eliminar" (click)="eliminarTarea(i)">Eliminar ❌</button>
  </li>
</ul>
