<div class="acerca-container">
  <h1>Detalles importantes acerca de esta aplicación</h1>

  <ul class="datos">
    <li>Este gestor de tareas fue desarrollado como proyecto final del curso de Angular.</li>
    <li>Permite agregar, eliminar y listar tareas.</li>
    <li>Desarrollado por: Nicolas Melo.</li>
  </ul>

  <footer>
    <ul class="especificaciones">
      <strong>Versión:</strong> 1.0.0
      <strong>Fecha de lanzamiento:</strong> 7 de Noviembre de 2025
      <strong>Tecnologías utilizadas:</strong> Angular, TypeScript, HTML, SCSS, Angular Router, Angular Forms, etc.
    </ul>
  </footer>
</div>
